@page "{id:int}"
@model KalkulosCore.Pages.Acreedores.DetailsModel

@{
    ViewData["Title"] = "Detalles del Acreedor";
}

<h1>Detalles</h1>
<div>
    <h4>Acreedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Nombres</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Acreedore.Nombres)</dd>
        <dt class="col-sm-3">Apellidos</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Acreedore.Apellidos)</dd>
        <dt class="col-sm-3">Documento</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Acreedore.Documento)</dd>
        <dt class="col-sm-3">Dirección</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Acreedore.Direccion)</dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Acreedore.Id">Editar</a> |
    <a asp-page="./Index">Volver a la Lista</a>
</div>